<section id="one">
  <div class="content">
    <%= image_tag("woman.png", class: "home-img fade-in") %>
    
    <h1 class="home-text w3-container w3-center w3-animate-zoom">Hello, Hooman~</h1>
  </div>
</section>