<section id="three">
  <div class="content center-align">
    
    <%= image_tag("Bye_Mice.png", class: "profile-img") %>
    <h1 class="title">ABOUT ME</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestibulum quis nisi id dignissim. Nulla mollis nec nisi id luctus. Integer tristique, dui at gravida ultrices, nisi sem scelerisque nunc, a iaculis elit magna nec enim. Vestibulum feugiat placerat lectus. Aenean interdum tortor nec quam dapibus congue. Nunc quis enim non quam semper bibendum non nec velit. Aliquam erat volutpat. Phasellus finibus mauris ac est bibendum finibus. Donec consectetur eros elementum nunc posuere dictum. Curabitur nunc felis, malesuada dictum orci nec, vehicula imperdiet dui. Maecenas augue urna, varius ut sapien ut, eleifend gravida ligula.</p>

    <p>Integer urna est, commodo id nisi eu, hendrerit luctus quam. Praesent ipsum sapien, volutpat sed auctor in, vestibulum at lectus. Quisque consectetur rhoncus accumsan. Donec vel varius justo. Quisque ultricies turpis in lectus commodo, in tincidunt leo dignissim. Aenean ut sapien eget lacus gravida gravida. Donec tincidunt efficitur tellus a dapibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean ultricies lobortis euismod</p>
  
  
    <%= render "/sections/coffee" %>
    <div class="coffee-text">
      <a href="#three">Buy me a coffee</a>
    </div>
  </div>
</section>

