<section id="two">
  <div class="content">
    <h1 class="title">BLOGS</h1>

    <div class="blog-list">
      <div class="blog-header">
        <div class="blog-title">Lorem Ipsum 1</div>
        <div class="blog-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu varius lacus, id molestie nisl. Sed efficitur consectetur dolor nec finibus. Nulla condimentum elit id arcu rutrum, porta elementum nisl pharetra. Phasellus volutpat finibus elit. Duis sagittis a mauris eu fringilla. Nullam condimentum nisl eget risus pellentesque, sit amet viverra risus lacinia. Aenean enim nibh, commodo pharetra nunc eget, placerat feugiat leo. Aenean eu ipsum ut magna ornare laoreet.
        </div>
      </div>
    </div>

    <div class="blog-list">
        <div class="blog" style="background-image: url('https://images.unsplash.com/photo-1612962925141-bb19bcde195d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDN8fGJsdWUlMjBhZXN0aGV0aWN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');">
          <div class="blog-title">Lorem Ipsum 1</div>
          <div class="blog-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit.
          </div>
        </div>
      <div class="blog" style="background-image: url('https://images.unsplash.com/photo-1610718195053-d8e01460570d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzR8fGJsdWUlMjBhZXN0aGV0aWN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60')">
        <div class="blog-title">Lorem Ipsum 2</div>
        <div class="blog-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit.
        </div>
      </div>
      <div class="blog" style="background-image: url('https://images.unsplash.com/photo-1615869442289-f35f5173db8d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Ymx1ZSUyMGFlc3RoZXRpYyUyMGNvbXB1dGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');">
        <div class="blog-title">Lorem Ipsum 3</div>
        <div class="blog-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit.
        </div>
      </div>
    </div>

    <a href="#" class="load-more">LOAD MORE</a>

  </div>
</section>