
<div class="post-btns">
  <a href="#" class="prev"><i class="fas fa-chevron-left"></i> Previous Post</a>
  <a href="#" class="next">Next Post <i class="fas fa-chevron-right"></i></a>
</div>

<div class="post">
  <div class="post-title">Lorem Ipsum 1</div>
  
  <div class="post-img" style="background-image: url('https://images.unsplash.com/photo-1610718195053-d8e01460570d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzR8fGJsdWUlMjBhZXN0aGV0aWN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60')">
  </div>

  <div class="post-desc">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sollicitudin, orci eget semper rutrum, odio risus dignissim augue, quis dapibus ligula est aliquet nibh. Suspendisse elit nisl, vehicula ut tempor ut, molestie quis sapien. Mauris tempor lorem felis, in fringilla enim porta pretium. Nulla commodo libero id diam feugiat vehicula. Nulla ultrices a diam scelerisque dapibus. In sed placerat justo, eu ultricies risus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc ac lectus massa. Donec ut urna sem. Vivamus tortor elit, faucibus ut laoreet in, porttitor maximus erat. Cras pulvinar lorem sed massa mollis porttitor. Nunc posuere felis at mauris mollis finibus. Sed aliquam, felis in pharetra luctus, est nulla feugiat orci, varius gravida nulla nibh sed nisl.</p>

    <p>Sed libero ante, lobortis a ligula vitae, aliquet vulputate leo. Fusce commodo quis tellus eu gravida. Quisque eu turpis risus. Vivamus maximus cursus quam, eget bibendum justo bibendum at. Sed eget erat nibh. Mauris eleifend, eros quis dictum accumsan, urna velit finibus diam, nec ultricies nibh ex auctor mauris. Proin quam ipsum, posuere at tempor ut, posuere ac ipsum. Nam feugiat ornare eros non consectetur. Praesent pellentesque ultrices consectetur.</p>

    <p>Fusce vitae suscipit diam. Duis cursus velit vitae dictum posuere. Pellentesque vitae vestibulum nisl. Vestibulum tincidunt, libero a tristique ornare, nunc ex tincidunt urna, iaculis euismod justo nisl in turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur commodo nulla vitae condimentum porttitor. Pellentesque congue laoreet libero. Ut et erat consequat, euismod velit non, convallis mauris. Ut fermentum luctus elit, non suscipit elit congue vitae. Praesent eget arcu massa. Ut dictum, velit in porttitor semper, orci quam scelerisque urna, eu dictum libero lectus ac nisl. Cras in nisi nec neque interdum ornare id a ex. Nam vitae nisi vitae nisl ullamcorper tempus. Donec pretium rhoncus nisi, et cursus sem rhoncus vitae. Morbi rhoncus tortor vel dolor imperdiet, at pretium risus cursus.</p>
  </div>
</div>

<button class="scroll-up"><i class="fas fa-chevron-up"></i></button>
