.blog-list {
  margin: 30px 0px;
  display: flex;
}

.blog-header {
  width: 100%;
  height: 15vh;
  margin: 10px;
}

.blog {
  width: 33.33%;
  height: 30vh;
  border-radius: 2%;
  color: gray;
  margin: 10px;
  padding: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: height .5s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.blog:hover {
  height: 320px;
}

.blog-title {
  font-size: 30px;
  font-weight: bold;
}

.blog-desc {
  position: relative;
  float: bottom;
}