@mixin moveAndFadeAnimation($distance, $duration, $delay) {
  
  animation: move-and-fade $duration linear infinite;
  animation-delay: $delay;
  
  @keyframes move-and-fade {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
      transform: translateY(-$distance);
      opacity: 0;
    }
  }
}

$border-color: #5D5D5D;

.coffee-text {
  position: relative;
  width: 50%;
  height:150px;
  float: right;
  font-size: 30px;
}

.coffee-text a {
  font-family: 'Handlee', cursive;
  position: absolute;
  bottom: 20px;
  right: 0;
  color: rgb(223, 81, 71);
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height:150px;
  width:150px;
  float: right;
}

.steam-container {
  width: 60px;
  height: 50px;
  margin-left: 10px;
}

.coffee-container {
  width: 100px;
  height: 100px;
  position: relative;
}

.coffee-cup {
  width:80px;
}

.squiggle-container {
  width: 10px;
  height: 30px;
  display: inline-block;
}

.squiggle-container-1 {
   transform: translateY(10px);
  .squiggle {
    @include moveAndFadeAnimation(10px, 2.5s, .2s);
    width: 10px;
  }
}

.squiggle-container-2 {
   transform: translateY(0px);
  .squiggle {
    @include moveAndFadeAnimation(20px, 2.5s, 0s);
    width: 10px;
  }
}
.squiggle-container-3 {
   transform: translateY(15px);
  .squiggle {
    @include moveAndFadeAnimation(15px, 2.5s, .4s);
    width: 10px;
  }
}

.squiggle {
  stroke-dasharray: 100;
  //animation: dash 10s linear infinite;
  
  path {
    stroke: $border-color;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  50% {
    stroke-dashoffset: 500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
