.post {
  margin: 30px 300px 0px 300px;
  padding: 20px 0px;
  font-family: "calibri";
  font-weight: lighter;
  border-top: 3px dotted black;
}

.post-title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.post-img {
  margin: 20px 0px;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.post-desc p {
  margin-bottom: 50px;
  text-align: justify;
  text-justify: inter-word;
}

.post-btns {
  margin: 30px 300px 0px 300px;
}

.post-btns .next {
  float: right;
}

.scroll-up {
  height: 80px;
  width: 80px;
  background-color: black;
  color: white;
  position: fixed;
  right: 50px;
  bottom: 30px;
  border-radius: 50%;
  opacity: .5;
}

.scroll-up:hover {
  opacity: 1;
}