@import "../variables";

.sidenav {
  height: 100vh;
  width: 60px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  overflow: hidden;
}

.sidenav ul {
  height: 100vh;
  overflow: hidden;
}

.sidenav ul li a{
  padding: 6px 8px 6px 16px;
  font-size: 25px;
  color: #818181;
  text-decoration: none;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  text-align: center;
  height: 33%;
}

.sidenav ul li a:hover {
  color: #f1f1f1;
  background-color: gray;
  width: 70px;
}