.float{
	width:210px;
	height:60px;
	position:fixed;
	top:40px;
	right:40px;
  display: flex;
  float: right;
}

.floating-items {
  margin-left: 10px;
	width:60px;
	height:60px;
	background-color:black;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  font-size: 30px;
	display: none;
}

.my-float{
	margin-top: 15px;
}
