@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

@import url('https://www.w3schools.com/w3css/4/w3.css');
@import "variables";

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-size: 30px;
}

.wrapper {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  margin-left: 60px;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  //align-items: center;
  //justify-content: center;

  scroll-snap-align: start;
}

.content {
  margin: 50px;
  font-size: 20px;
}

.content p {
  padding: 25px 0px 25px 0px;
}

#one {
  background-color: $primary-color;
} 

#two {
  background-color: $secondary-color;
} 

#three {
  background-color: $tertiary-color;
} 

.title {
  font-size: 70px;
}

.profile-img {
  border-radius: 50%;
  height: 250px;
}

.center-align {
  align-items: center;
}

.load-more {
  margin: auto;
  display: block;
  width: 40%;
  background-color: gray;
  padding: 10px;
  text-align: center;
  bottom: 20px;

  font-size: 25px;
  color: white;
}

a {
  text-decoration: none;
}