<div class="sidenav">
  <ul>
    <li><a href="#one" data-turbolinks="false">HOME</a></li>
    <li><a href="#two" data-turbolinks="false">BLOGS</a></li>
    <li><a href="#three" data-turbolinks="false">ABOUT ME</a></li>
  </ul>
</div>

<div class="wrapper">
  <%= render "/sections/one" %>
  <%= render "/sections/two" %>
  <%= render "/sections/three" %>
</div>


<div class="float">
  
  <a href="https://www.facebook.com/O11OO1OOO11O1OO1O11O111OO11OOOO1/" target="_blank" class="floating-items">
    <i class="fab fa-facebook-f my-float"></i>
  </a>
  <a href="https://www.linkedin.com/in/dina-fajardo/" target="_blank" class="floating-items">
    <i class="fab fa-linkedin-in my-float"></i>
  </a>
  <a href="https://www.linkedin.com/in/dina-fajardo/" target="_blank" class="floating-items">
    <i class="fab fa-instagram my-float"></i>
  </a>
</div>